body{
  position: relative;
  font-family: Optima;
}

img.left {
  /*position: absolute;*/
  width:70px;
  height:70px;
  vertical-align:middle;
  /*margin-left:150px;*/
  /*padding: 10px;*/
}

img.right {
  /*position: absolute;*/
  width:70px;
  height:70px;
  vertical-align:middle;
  /*right:150px;
  padding: 10px;*/
}

#startmenu {
    display: none;
}

#startmenu.started {
    display: block;
}

.overlaytext {
    text-align: center;
    font-size: 12vh;
    color: #3ff538;
}

.startsubtext {
    font-size: 3vh;
    color: #FFFFFF;
}
.names {
    font-size: 4vh;
    color: #FFFFFF;
    padding-bottom: 10px;
    /*margin-top: -2vh;*/
}
.description {
    font-size: 3vh;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    color: #FFFFFF;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    line-height: 2vh;
    padding-top: 20px;
    color: #FFFFFF;
    z-index: 3;
}

.overlaybg {
    background-color: rgba(0, 0, 0, 0.7);
}

.endoverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    line-height: 2vh;
    padding-top: 70px;
    color: #FFFFFF;
    z-index: 3;
}

.endtext {
    text-align: center;
    font-size: 12vh;
    color: #3ff538;
}

.endtextscore {
    text-align: center;
    font-size: 7vh;
    color: #FFFFFF;
}

.endsubtext {
    font-size: 3vh;
    color: #FFFFFF;
}

#endmenu {
    padding-top: 60px;
    display: none;
}

#endmenu.ended {
    display: block;
}

#scoremenu {
    display: none;
    position: absolute;
    left: 4vw;
    bottom: 4vh;
    color: #FFFFFF;
    z-index: 2;
    text-align: center;
    font-size: 3vw;
}

#scoremenu.started {
    display: block;
}