body{
  position: relative;
}
#startmenu {
    display: none;
}

#startmenu.started {
    display: block;
}

.overlaytext {
    text-align: center;
    font-size: 12vh;
}

.startsubtext {
    font-size: 5vh;
}
.names {
    font-size: 4vh;
    margin-top: -2vh;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    line-height: 6vh;
    padding-top: 30px;
    color: #FFFFFF;
    z-index: 3;
}

.overlaybg {
    background-color: rgba(0, 0, 0, 0.6);
}

#endmenu {
    padding-top: 60px;
    display: none;
}

#endmenu.ended {
    display: block;
}

#scoremenu {
    display: none;
    position: absolute;
    left: 4vw;
    bottom: 4vh;
    color: #FFFFFF;
    z-index: 2;
    text-align: center;
    font-size: 3vw;
}

#scoremenu.started {
    display: block;
}

